* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    background-color: rgb(158, 184, 233);
}

h2 {
    color: #555555;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 10%;

}

main {
    width: 350px;
    height: 470px;
    background: #373595;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 23px;
    margin-top: 25px;
}

input {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    width: 280px;
    font-size: 40px;
}

.firstLine , .secondLine , .thirdLine , .fourthLine  {
    display: inline;
    width: 20%;
    height: 48px;
    margin-left: 10px;
    font-size: 35px;
    border-radius: 20%;
    cursor: pointer;
    color: white;
}

.firstLine:active, .secondLine:active, .thirdLine:active, .fourthLine:active {
    opacity: .8;
}